In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from transform_data import read_arrays

In [16]:
latver, symk, dwak = read_arrays()
# usunięcie X z początku
latver = latver[1:]
symk = symk[1:]
dwak = dwak[1:]
# to dataframe
latver_df = pd.DataFrame(latver)
latver_letter_counts = latver_df.value_counts().sort_index()
latver_letter_counts

0
A    196
B    244
C    132
D    116
E     94
F    218
Name: count, dtype: int64

In [17]:
symk = pd.DataFrame(symk)
symk_letter_counts = symk.value_counts().sort_index()
symk_letter_counts

0
A    340
B     49
C    240
D    101
E     57
F    213
Name: count, dtype: int64

In [11]:
pd.DataFrame(dwak)
dwak_letter_counts = dwak.value_counts().sort_index()
dwak_letter_counts

      0
0     B
1     A
2     C
3     E
4     A
...  ..
9995  C
9996  E
9997  D
9998  A
9999  A

[10000 rows x 1 columns]